{{>layouts/header}}
<h1>Hello, world!</h1>
<div>
    {{# id}}
        <h1>{{id}} {{username}} Hello! </h1>
    {{/ id}}
    {{^ id}}
        <h1>{{username}} Hello! </h1>
    {{/ id}}
</div>
{{>layouts/footer}}
