{{>layouts/header}}
<form class="container" action="/articles" method="post">{{!/articles 주소로 가서 post를 한다.}}
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Title</label>
        <input type="text" class="form-control" name="title" id = "exampleInputEmail" aria-describedby="title">
        <div id = "titleHelp" class = "form-text">제목을 입력하세요</div>
        <label for="exampleFormControlInput2" class="form-label">Contents</label>
        <input type="text" class="form-control" name="contents" id = "exampleInputEmail" aria-describedby="contents">
        <div id = "contentHelp" class = "form-text">내용을 입력하세요</div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{{>layouts/footer}}