{{>layouts/header}}
{{#article}}
    <div class="card" style="width: 18rem;">

        <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">id : {{id}}</h6>
            <h5 class="card-title">title : {{title}}</h5>
            <p class="card-text">contents : {{contents}}</p>
            <a href="/articles/new" class="card-link">new article</a>
            <a href="/articles" class="card-link">list article</a>
        </div>
    </div>
    <a href = "/articles/{{id}}/edit" class = "btn btn-primary">Edit</a>
    <a href = "/articles/{{id}}/delete" class = "btn btn-danger">Delete</a>

{{/article}}
{{>layouts/footer}}